*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'is';
    src: url('../fonts/Iranian\ Sans.ttf');
}
body{
    font-family: 'is';
    
}

.navbar-costumized{
    color: red !important;
    direction: rtl;
}